<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>.ConStile | Template | Elenco dei template pubblicati</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Una guida dedicata all'uso dei fogli di stile a cascata (cascade style sheets - CSS) per lo sviluppo di siti web leggeri, usabili, conformi agli standard W3C." />
<meta name="keywords" content="CSS, fogli di stile, HTML, XHTML, layout, template, guide, tutorial, suggerimenti, tips, codice, open content" />
<meta http-equiv="revisit-after" content="15 days" />
<meta http-equiv="imagetoolbar" content="false" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<!-- èé -->
<link rel="top" href="../index.html" title="Homepage" />
<link rel="search" href="../ricerca.php" title="Cerca nell'archivio di .ConStile" />
<link rel="author" href="../informazioni.php#autore" title="Informazioni sull'autore di .ConStile" />
<link rel="copyright" href="../informazioni.php#legali" title="Informazioni legali" />
<link rel="blog" href="http://geco.constile.org/" title="Geco: il blog associato a .ConStile" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="../constile.xml" />
<link rel="toc" href="../mappa.php" title="Mappa di .ConStile" />
<link rel="index" href="../index.html" title="La pagina principale di .ConStile" />
<link rel="stylesheet" type="text/css" media="screen" href="../stili_v5/schermo.css" />
<link rel="stylesheet" type="text/css" media="print" href="../stili_v5/print.css" />
<link media="aural, braille" rel="stylesheet" href="../stili_v5/aural.css" type="text/css" />
<link media="tty" rel="stylesheet" href="../stili_v5/tty.css" type="text/css" />
<link rel="shortcut icon" href="../favicon.ico" />
<!-- wget/1.10.2 (red hat modified) -->
</head>
<body>
<div id="intestazione">
<!-- logo -->
<div id="logo"><a id="logoIMG" href="../index.html" title=".ConStile, una guida dedicata all'uso dei CSS per lo sviluppo di siti web leggeri, usabili, conformi agli standard W3C"><span class="title">.ConStile, una guida dedicata all'uso dei CSS per lo sviluppo di siti web leggeri, usabili, conformi agli standard W3C</span></a></div>
<div id="issn"><acronym title="International Standard Serial Number">ISSN</acronym> 1722-375X</div>
<div class="nascosto">[<a name="TOP" id="TOP" href="index.html#MENU">Vai al menu di navigazione principale</a>]</div>
<!-- /logo -->
<hr />
<!-- barra di navigazione -->
<div id="navbar" title="Menu di navigazione">
<h2 class="nascosto">Sezioni</h2>
	<ul>
		<li class="nascosto">[<a name="MENU" id="MENU" href="index.html#CONTENUTI">Vai ai contenuti</a>]</li>
		<li ><a href="../index.html" title="Pagina principale del sito">Homepage</a></li>
		<li ><a href="../tutorial/index.html" title="Guide e consigli per la realizzazione di siti web tramite i CSS.">Tutorial</a></li>
		<li ><a href="../clonazioni/index.html" title="Esempi di come con i CSS sia possibile riprodurre il layout di qualsiasi sito.">Clonazioni</a></li>
		<li id="voisietequi"><a href="index.html" title="Template realizzati con i CSS da utilizzare per il proprio sito.">Template</a></li>
		<li ><a href="../tips/index.html" title="Piccoli suggerimenti per ottenere il massimo dai CSS.">Tips</a></li>
		<li ><a href="../DHTML/index.html" title="Come integrare (X)HTML, CSS e JavaScript per aggiungere un po' di sale al proprio sito web.">DHTML</a></li>
		<li ><a href="../libri/index.html" title="Libri suggeriti per approfondire la conoscenza degli standard W3C, dell'XHTML, dei CSS">Libri</a></li>
	</ul>
</div>
<!-- /barra di navigazione -->
<hr />
<!-- barra di locazione -->
<div id="locazione" title="&quot;Voi siete qui&quot;: Attuale posizione nel sito"><a href="../index.html" title="Vai alla homepage">Home</a> &gt; <a href="index.html">Template</a> &gt; Elenco dei template pubblicati</div>
<!-- /barra di locazione -->
</div>
<hr />
<div id="bodycontent">
<div class="nascosto">[<a name="CONTENUTI" id="CONTENUTI" href="index.html#PIEDE">Vai al pi&egrave; di pagina</a>]</div>
<div id="contenuto">

<h1>Elenco dei template pubblicati</h1>
<p>Esempi di come con i CSS sia possibile impaginare delle pagine web. Di seguito è riportato l'elenco degli articoli pubblicati in ordine cronologico.</p>
<ul>

<li><a href="pagine_zoomabili/index.html">Pagine zoomabili</a>: In questo articolo vedremo come realizzare un semplice layout in grado di assecondare il ridimensionamento dei caratteri. L&#8217;effetto &#232; simile a quello di una pagina che pu&#242; essere ingrandita con una sorta di lente di ingrandimento.
</li>
<li><a href="menu_verticali/index.html">Menu verticali con i CSS</a>: [<strong>versione riveduta e corretta</strong>]<br />
In questo articolo saranno illustrati tre esempi di come sia possibile trasformare una semplice lista di link in un menu verticale. Attraverso l&#39;uso delle pseudo-classi <code>a:hover</code> e <code>a:active</code> &egrave; possibile ottenere effetti roll-over senza l&#39;uso di javascript.
</li>
<li><a href="nuovo_layout_a_tre_colonne/index.html">Layout a tre colonne per tutti i gusti</a>: In questo articolo vedremo come realizzare un layout a tre colonne sfruttando il posizionamento assoluto invece della propriet&agrave; <code>float</code>. Attraverso tre diversi CSS, col medesimo codice XHTML, otterremo tre diversi tipi di layout: a larghezza prefissata, liquido con colonne laterali di larghezza prefissata, completamente liquido.</li>
<li><a href="centrare_il_box/index.html">Come porre un box al centro della pagina</a>: Porre un box al centro della pagina è molto semplice, basta sapere come fare. In questo articolo vedremo un esempio di come porre al centro della pagina, sia in verticale sia in orizzontale, un box largo 350px e alto 200px.</li>
<li><a href="layout_a_tre_colonne/index.html">Layout di base a tre colonne</a>: Il layout in assoluto pi&ugrave; diffuso &egrave; quello basato sullo schema a tre colonne: una colonna centrale molto ampia e due colonne laterali pi&ugrave; strette. In questo articolo sar&agrave; illustrato come creare lo schema di base per la realizzazione di layout a tre colonne.</li>

</ul>
</div>
<hr />

<!-- footer -->

<div id="footer">




<p><a href="../css_guida_completa/index.html"><img src="../css_guida_completa/miniCover.jpg" alt="CSS Guida Completa" /><br />Il mio libro sui CSS</a></p>
<p><a href="http://www.sentieroimpresa.it/csszensentiero.htm" title="CSS Zen Sentiero vuole essere un luogo di sperimentazione e di confronto sul design basato sull'uso dei fogli di stile"><img src="../images/banner_zen_sentiero_constil.gif" width="160" height="30" alt="CSS Zen Sentiero" /></a></p>

<hr />



<p id="rss" title="Feed RSS">.ConStile &egrave; disponibile anche in <a href="../constile.xml">XML</a>.</p>



<p id="cc" title="Licenza"><a href="http://creativecommons.org/licenses/by-nd-nc/1.0" rel="esterno" title="Informazioni sulla licenza con cui &egrave; distribuito il materiale pubblicato su .ConStile">Some Rights Reserved</a>. This work is licensed under a <a href="http://creativecommons.org/licenses/by-nd-nc/1.0" rel="esterno" title="Informazioni sulla licenza con cui &egrave; distribuito il materiale pubblicato su .ConStile">Creative Commons License.</a></p>
<hr />



<p class="nascosto"><a accesskey="T" name="PIEDE" id="PIEDE" href="index.html#TOP" title="Torna all'inizio della pagina">Torna all'inizio della pagina</a></p>

<p id="navGenerale" title="Link di navigazione generale"><a href="../index.html" title="Torna alla homepage di .ConStile">HOMEPAGE</a> / <a href="../mappa.php" title="Mappa del sito">Mappa</a> / <a href="../informazioni.php" title="Tutte le informazioni su .ConStile">Informazioni</a> / <a href="../exit.php" title="I link consigliati per uscire da .ConStile">EXIT (Link)</a></p>





</div>

<!-- /footer -->

<hr />

<!-- no CSS -->

<div id="avviso-non-standard"><img src="../images/avvisow3c.png" alt="" /></div>

<!-- /no CSS -->

<div id="page-url">l'indirizzo di questa pagina &egrave;: http://www.constile.org/template/index.php</div>

</div><!-- fine bodycontent -->



</body>

</html>



