<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>.ConStile | Template | Nuovo layout a tre colonne: indice dei template</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<style type="text/css">
<!-- 
body { font:1.2em verdana,helvetica,sans-serif } 
-->
</style>
</head>
<body>
<p>Sono disponibili i tre seguenti template per layout a tre colonne:</p>
<ul>
<li><a href="esempio_1.html">Layout a larghezza prefissata</a></li>
<li><a href="esempio_2.html">Layout liquido, con colonne laterali di larghezza prefissata</a></li>
<li><a href="esempio_3.html">Layout liquido</a></li>
</ul>

</body>
</html>
