<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>.ConStile | Template | Menu verticali: esempio</title>
<meta name="description" content="Viene descritto come realizzare un menu verticale con effetto bottone, senza utilizzare immagini ma con i soli CSS" />
</head>
<body>
<div id="colonna-menu">
<h6>Menu 1</h6>
<ul class="menu1">
	<li><a href="http://www.no.it/">Sezione Link 1</a></li>
	<li><a href="http://www.no.it/">Sezione Link 2</a></li>
	<li><a href="http://www.no.it/">Sezione Link 3</a></li>
	<li><a href="http://www.no.it/">Sezione Link 4</a></li>
	<li><a href="http://www.no.it/">Sezione Link 5</a></li>
</ul>

<h6>Menu 2</h6>
<ul class="menu2">
	<li><a href="http://www.no.it/">Sezione Link 1</a></li>
	<li><a href="http://www.no.it/">Sezione Link 2</a></li>
	<li><a href="http://www.no.it/">Sezione Link 3</a></li>
	<li><a href="http://www.no.it/">Sezione Link 4</a></li>
	<li><a href="http://www.no.it/">Sezione Link 5</a></li>
</ul>

<h6>Menu 3</h6>
<ul class="menu3">
	<li><a href="http://www.no.it/">Sezione Link 1</a></li>
	<li><a href="http://www.no.it/">Sezione Link 2</a></li>
	<li><a href="http://www.no.it/">Sezione Link 3</a></li>
	<li><a href="http://www.no.it/">Sezione Link 4</a></li>
	<li><a href="http://www.no.it/">Sezione Link 5</a></li>
</ul>
</div>
</body>
</html>