<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
<title>.ConStile | Template | Layout di base a tre colonne</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Una guida dedicata all'uso dei fogli di stile a cascata (cascade style sheets - CSS) per lo sviluppo di siti web leggeri, usabili, conformi agli standard W3C." />
<meta name="keywords" content="CSS, fogli di stile, HTML, XHTML, layout, template, guide, tutorial, suggerimenti, tips, codice, open content" />
<meta http-equiv="revisit-after" content="15 days" />
<meta http-equiv="imagetoolbar" content="false" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<!-- èé -->
<link rel="top" href="../../index.html" title="Homepage" />
<link rel="search" href="../../ricerca.php" title="Cerca nell'archivio di .ConStile" />
<link rel="author" href="../../informazioni.php#autore" title="Informazioni sull'autore di .ConStile" />
<link rel="copyright" href="../../informazioni.php#legali" title="Informazioni legali" />
<link rel="blog" href="http://geco.constile.org/" title="Geco: il blog associato a .ConStile" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="../../constile.xml" />
<link rel="toc" href="../../mappa.php" title="Mappa di .ConStile" />
<link rel="index" href="../../index.html" title="La pagina principale di .ConStile" />
<link rel="stylesheet" type="text/css" media="screen" href="../../stili_v5/schermo.css" />
<link rel="stylesheet" type="text/css" media="print" href="../../stili_v5/print.css" />
<link media="aural, braille" rel="stylesheet" href="../../stili_v5/aural.css" type="text/css" />
<link media="tty" rel="stylesheet" href="../../stili_v5/tty.css" type="text/css" />
<link rel="shortcut icon" href="../../favicon.ico" />
<!-- wget/1.10.2 (red hat modified) -->
</head>
<body>
<div id="intestazione">
<!-- logo -->
<div id="logo"><a id="logoIMG" href="../../index.html" title=".ConStile, una guida dedicata all'uso dei CSS per lo sviluppo di siti web leggeri, usabili, conformi agli standard W3C"><span class="title">.ConStile, una guida dedicata all'uso dei CSS per lo sviluppo di siti web leggeri, usabili, conformi agli standard W3C</span></a></div>
<div id="issn"><acronym title="International Standard Serial Number">ISSN</acronym> 1722-375X</div>
<div class="nascosto">[<a name="TOP" id="TOP" href="index.html#MENU">Vai al menu di navigazione principale</a>]</div>
<!-- /logo -->
<hr />
<!-- barra di navigazione -->
<div id="navbar" title="Menu di navigazione">
<h2 class="nascosto">Sezioni</h2>
	<ul>
		<li class="nascosto">[<a name="MENU" id="MENU" href="index.html#CONTENUTI">Vai ai contenuti</a>]</li>
		<li ><a href="../../index.html" title="Pagina principale del sito">Homepage</a></li>
		<li ><a href="../../tutorial/index.html" title="Guide e consigli per la realizzazione di siti web tramite i CSS.">Tutorial</a></li>
		<li ><a href="../../clonazioni/index.html" title="Esempi di come con i CSS sia possibile riprodurre il layout di qualsiasi sito.">Clonazioni</a></li>
		<li id="voisietequi"><a href="../index.html" title="Template realizzati con i CSS da utilizzare per il proprio sito.">Template</a></li>
		<li ><a href="../../tips/index.html" title="Piccoli suggerimenti per ottenere il massimo dai CSS.">Tips</a></li>
		<li ><a href="../../DHTML/index.html" title="Come integrare (X)HTML, CSS e JavaScript per aggiungere un po' di sale al proprio sito web.">DHTML</a></li>
		<li ><a href="../../libri/index.html" title="Libri suggeriti per approfondire la conoscenza degli standard W3C, dell'XHTML, dei CSS">Libri</a></li>
	</ul>
</div>
<!-- /barra di navigazione -->
<hr />
<!-- barra di locazione -->
<div id="locazione" title="&quot;Voi siete qui&quot;: Attuale posizione nel sito"><a href="../../index.html" title="Vai alla homepage">Home</a> &gt; <a href="../index.html">Template</a> &gt; <a href="index.html">Layout a tre colonne</a> &gt; Layout di base a tre colonne</div>
<!-- /barra di locazione -->
</div>
<hr />
<div id="bodycontent">
<div class="nascosto">[<a name="CONTENUTI" id="CONTENUTI" href="index.html#PIEDE">Vai al pi&egrave; di pagina</a>]</div>


<div id="principale">

<h1 id="titoloArticolo">Layout di base a tre colonne</h1>

<p>Il layout in assoluto pi&ugrave; diffuso &egrave; quello basato sullo schema a tre colonne: una colonna centrale molto ampia e due colonne laterali pi&ugrave; strette. In questo articolo sar&agrave; illustrato come creare lo schema di base per la realizzazione di layout a tre colonne.</p>

<p>Prima di iniziare a leggere l'articolo vi consigliamo di <a href="layout_a_tre_colonne.html" rel="esterno" title="la pagina si apre in una nuova finestra">guardare il layout</a> che si vuole ottenere.</p>

<h2>La struttura</h2>

<p>Un layout a tre colonne ha, in genere, la seguente struttura:</p>

<ul>
<li>un'intestazione (header) dove inserire il logo e i banner;</li>

<li>una colonna di sinistra dove generalmente sono posti i link alle sezioni del sito;</li>

<li>una colonna centrale dove sono inseriti i contenuti principali;</li>

<li>una colonna di sinistra dove porre sponsor, moduli, sondaggi;</li>

<li>un pi&eacute; di pagina (footer) contenente il copyright, gli indirizzi e-mail, la navigazione globale.</li>
</ul>

<p>La struttura sopra illustrata &egrave; mostrata nella seguente immagine:</p>

<img src="../../images/template/layout_a_tre_colonne/struttura.gif" alt="struttura" title="struttura" class="esempio" /> 
<p>Come visto nell'articolo <a href="../../tutorial/progettare_con_stile/index.html">Progettare con i CSS</a>, allo schema della pagina deve corrispondere la struttura del codice (X)HTML:</p>


<p class="code"><code>&lt;!DOCTYPE html PUBLIC &quot;-//W3C//DTD XHTML 1.0 Strict//EN&quot;<br />    &quot;http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd&quot;&gt;<br />&lt;html xmlns=&quot;http://www.w3.org/1999/xhtml&quot;&gt;<br />&lt;head&gt;<br />[...]<br />&lt;/head&gt;<br /><br />&lt;body&gt;<br /><br />&lt;div id=&quot;header&quot;&gt;<br />[...]<br />&lt;/div&gt;<br /><br />&lt;div id=&quot;colonna-sx&quot;&gt;<br />[...]<br />&lt;/div&gt;<br /><br />&lt;div id=&quot;principale&quot;&gt;<br />[...]<br />&lt;/div&gt;<br /><br />&lt;div id=&quot;colonna-dx&quot;&gt;<br />[...]<br />&lt;/div&gt;<br /><br />&lt;div id=&quot;footer&quot;&gt;<br />[...]<br />&lt;/div&gt;<br /><br />&lt;/body&gt;<br />&lt;/html&gt;<br /></code></p>


<p>Si &egrave; utilizzato un DIV per ogni sezione, ogni DIV &egrave; stato identificato con un diverso valore per l'attributo ID. Ogni valore dell'attributo ID indica il compito del DIV nel formare la struttura.</p>

<p>Per creare le tre colonne, si imposter&agrave; la larghezza degli elementi associati ai selettori <strong>#colonna-sx</strong>, <strong>#principale</strong> e <strong>#colonna-dx</strong>. La larghezza delle colonne laterali sar&agrave; pari al 20% (ciascuna) della larghezza della pagina, la colonna principale occuper&agrave; il restante 60%. Affinch&eacute; le tre colonne risultino affiancate, si imposter&agrave; la <strong>propriet&agrave; float</strong> sul valore <strong>left</strong>. Il codice CSS da utilizzare &egrave; il seguente:</p>


<p class="code"><code>#colonna-sx, #colonna-dx { <br />  float: left; <br />  width: 20%; <br />}<br />#principale { <br />  float: left; <br />  width: 60%; <br />}<br /></code></p>


<p><strong>In realt&agrave; c'&egrave; un problema</strong>: Internet Explorer lascia, sulla destra, un margine di 1px (vedi la figura di seguito riportata). Ci&ograve; fa s&igrave; che la colonna sulla destra non ha a disposizione il 20% della pagina, ma il 20% meno 1px. La colonna di destra, dunque, non affiancherebbe le altre due, ma verrebbe a trovarsi al di sotto della colonna di sinistra. Per ovviare al problema &egrave; sufficiente impostare il margine destro della colonna di destra a -1px.</p>


<p class="code"><code>#colonna-dx { margin-right:-1px; }</code></p>


<img alt="IE lascia sulla destra un margine di 1px" title="IE lascia sulla destra un margine di 1px" src="../../images/template/layout_a_tre_colonne/problema_spazio_1px_IE.gif" class="esempio" /> 
<p>Per evitare i problemi descritti nell'articolo &quot;<a href="../../tips/recupero_float/index.html">Ripristino dell'allineamento in seguito all'utilizzo della propriet&agrave; float</a>&quot;, &egrave; necessario utilizzare la seguente regola:</p>


<p class="code"><code>#footer { clear: left; }</code></p>


<p>Affinch&eacute; il nostro layout occupi tutto lo spazio a disposizione bisogna impostare a zero il margine e il padding del BODY. Bisogna per&ograve; sottolineare che, avendo posto a -1px il margine destro della colonna di destra, a causa dei <a href="../../tutorial/IE5_box_model/index.html">soliti problemi nell'interpretazione del box model di IE5/Win</a>, su Internet Explorer 5 apparir&agrave; la barra di scorrimento orizzontale. Per ovviare a questo problema &egrave; sufficiente impostare il margine destro del BODY a 1px:</p>


<p class="code"><code>body { margin:0 1px 0 0; }</code></p>


<h2>Colori</h2>

<p>Per meglio evidenziare la struttura del sito, &egrave; bene differenziare il colore di sfondo delle diverse sezioni. Ad esempio:</p>


<p class="code"><code>body { background: #CCC; color:  #000 }<br /><br />#header { background: #999; color: #FFF }<br /><br />#colonna-sx, #colonna-dx { background:transparent; color: #000 }<br /><br />#principale { background: #FFF; color: #000 }<br /><br />#footer { background: #999; color: #FFF }<br /></code></p>


<h2>Bordi e padding</h2>

<p>Nel <a href="layout_a_tre_colonne.html" rel="esterno" title="la pagina si apre in una nuova finestra">layout realizzato</a>, le sezioni sono separate anche da dei bordi e il testo &egrave; da questi distanziato impostando il padding.</p>

<p>Come ampiamente illustrato nell'<a href="../../tutorial/introduzione_ai_css/sezione_4.php#s4_4_1">introduzione ai CSS</a>, se bordi e padding venissero aggiunti associando le propriet&agrave; ai selettori <strong>#colonna-sx</strong>, <strong>#principale</strong> e <strong>#colonna-dx</strong> il layout si allargherebbe oltre lo spazio concessogli, poich&eacute;, <a href="../../tutorial/introduzione_ai_css/sezione_4.php#s4_4_1">come gi&agrave; detto</a>, la larghezza del padding e di bordi si aggiungerebbe a quella definita con la propriet&agrave; <strong>width</strong>.</p>

<p>La soluzione al problema &egrave; semplice: all'interno degli elementi &lt;div id=&quot;colonna-sx&quot;&gt;, &lt;div id=&quot;principale&quot;&gt;, &lt;div id=&quot;colonna-dx&quot;&gt; vanno aggiunte delle sezioni contraddistinte dalla classe <strong>box</strong> che serviranno per impostare il padding e i bordi. Il codice (X)HTML &egrave; il seguente:</p>


<p class="code"><code>&lt;!DOCTYPE html PUBLIC &quot;-//W3C//DTD XHTML 1.0 Strict//EN&quot;<br />    &quot;http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd&quot;&gt;<br />&lt;html xmlns=&quot;http://www.w3.org/1999/xhtml&quot;&gt;<br />&lt;head&gt;<br />[...]<br />&lt;/head&gt;<br /><br />&lt;body&gt;<br /><br />&lt;div id=&quot;header&quot;&gt;<br />[...]<br />&lt;/div&gt;<br /><br />&lt;div id=&quot;colonna-sx&quot;&gt;<br />  <strong>&lt;div class=&quot;box&quot;&gt;[...]&lt;/div&gt;</strong><br />&lt;/div&gt;<br /><br />&lt;div id=&quot;principale&quot;&gt;<br />  <strong>&lt;div class=&quot;box&quot;&gt;[...]&lt;/div&gt;</strong><br />&lt;/div&gt;<br /><br />&lt;div id=&quot;colonna-dx&quot;&gt;<br />  <strong>&lt;div class=&quot;box&quot;&gt;[...]&lt;/div&gt;</strong><br />&lt;/div&gt;<br /><br />&lt;div id=&quot;footer&quot;&gt;<br />[...]<br />&lt;/div&gt;<br /><br />&lt;/body&gt;<br />&lt;/html&gt;<br /></code></p>


<p>Le sezioni header e footer non hanno bisogno di questo espediente poich&eacute; la loro larghezza non &egrave; fissata. Il codice CSS adottato &egrave; il seguente:</p>


<p class="code"><code>#header { <br />  border-top: 1px solid #000;<br />  border-bottom: 1px solid #000;<br />}<br />#colonna-sx .box, #colonna-dx .box {<br />  padding: 10px;<br />}<br />#principale .box { <br />  border-style: none solid solid solid; <br />  border-color: #000; <br />  border-width: 1px; <br />  padding: 10px;<br />}<br />#footer { <br />  border-top: 1px solid #000;<br />  border-bottom: 1px solid #000; <br />  padding: 2px 10px;<br />}<br /></code></p>


<h2>Retrocompatibilit&agrave;</h2>

<p>Senza l'adozione dei CSS, la struttura del documento sarebbe poco chiara. A tal fine fra le diverse sezioni del sito conviente introdurre un orizontal-rule (HR) da nascondere ai browser che utilizzono i CSS:</p>


<p class="code"><code><em>Codice (X)HTML</em><br />[...]<br />&lt;body&gt;<br /><br />&lt;div id=&quot;header&quot;&gt;<br />[...]<br />&lt;/div&gt;<br /><br /><strong>&lt;hr /&gt;</strong> <br /><br />&lt;div id=&quot;colonna-sx&quot;&gt;<br />[...]<br />&lt;/div&gt;<br /><br /><strong>&lt;hr /&gt;</strong> <br /><br />&lt;div id=&quot;principale&quot;&gt;<br />[...]<br />&lt;/div&gt;<br /><br /><strong>&lt;hr /&gt;</strong> <br /><br />&lt;div id=&quot;colonna-dx&quot;&gt;<br />[...]<br />&lt;/div&gt;<br /><br /><strong>&lt;hr /&gt;</strong> <br /><br />&lt;div id=&quot;footer&quot;&gt;<br />[...]<br />&lt;/div&gt;<br /><br />&lt;/body&gt;<br />[...]</code></p>



<p class="code"><code><em>Codice CSS</em><br />hr { display: none }</code></p>


<p>La pagina senza i CSS sar&agrave; comunqe leggibile, come mostrato nel seguente <a href="no_css_layout_a_tre_colonne.html" rel="esterno" title="la pagina si apre in una nuova finestra">esempio</a> realizzato privando la pagina dei CSS.</p>

<p>Partendo dalla struttura illustrata in questo articolo, &egrave; possibile realizzare un gran numero di layout differenti tutti caratterizzati dall'estrema leggerezza del codice e semplicit&agrave; di modifica, per non parlare dell'usabilit&agrave; di una pagina che, se priva del layout, risulta comnunque ben strutturata.</p><p><a href="../../commenti/index.html?aid=11" title="Collegamento alla pagina dei commenti">Commenti sull'articolo</a></p>
<div id="firma"><em>G.T</em> -- ultima revisione: 12.10.2002</div>
</div>

<hr />

<div id="secondario">
	<h3>File correlati</h3>
	<ul>
<li><a href="layout_a_tre_colonne.html">Esempio</a></li><li><a href="no_css_layout_a_tre_colonne.html">Esempio senza CSS</a></li>
<li><a href="layout_a_tre_colonne.css" title="Foglio di stile associato all&acute;esempio">Codice CSS</a></li>
<li><a href="layout_a_tre_colonne.zip" title="Scarica l&acute;articolo in PDF, esempi, ecc. [file zip - 108 KB]">ZIP</a></li>
</ul>	<h3>Articoli correlati:</h3>
	<ul>
  <li><a href="../../tips/recupero_float/index.html">Ripristino in seguito all'utilizzo della propriet&agrave; float</a></li>
  <li><a href="../../tutorial/IE5_box_model/index.html">Il box model di IE5/Win</a></li>
  <li><a href="../../tutorial/progettare_con_stile/index.html">Progettare con i CSS</a></li>
		
	</ul>
	<hr />
	<h3>Strumenti</h3>
	<ul>
		<li><a href="../../commenti/index.html?aid=11" title="Collegamento alla pagina dei commenti">Commenti sull'articolo</a></li>
		<li><a href="javascript:self.print()">Stampa l'articolo</a></li>
	</ul>
</div>

<hr />

<!-- footer -->

<div id="footer">




<p><a href="../../css_guida_completa/index.html"><img src="../../css_guida_completa/miniCover.jpg" alt="CSS Guida Completa" /><br />Il mio libro sui CSS</a></p>
<p><a href="http://www.sentieroimpresa.it/csszensentiero.htm" title="CSS Zen Sentiero vuole essere un luogo di sperimentazione e di confronto sul design basato sull'uso dei fogli di stile"><img src="../../images/banner_zen_sentiero_constil.gif" width="160" height="30" alt="CSS Zen Sentiero" /></a></p>

<hr />



<p id="rss" title="Feed RSS">.ConStile &egrave; disponibile anche in <a href="../../constile.xml">XML</a>.</p>



<p id="cc" title="Licenza"><a href="http://creativecommons.org/licenses/by-nd-nc/1.0" rel="esterno" title="Informazioni sulla licenza con cui &egrave; distribuito il materiale pubblicato su .ConStile">Some Rights Reserved</a>. This work is licensed under a <a href="http://creativecommons.org/licenses/by-nd-nc/1.0" rel="esterno" title="Informazioni sulla licenza con cui &egrave; distribuito il materiale pubblicato su .ConStile">Creative Commons License.</a></p>
<hr />



<p class="nascosto"><a accesskey="T" name="PIEDE" id="PIEDE" href="index.html#TOP" title="Torna all'inizio della pagina">Torna all'inizio della pagina</a></p>

<p id="navGenerale" title="Link di navigazione generale"><a href="../../index.html" title="Torna alla homepage di .ConStile">HOMEPAGE</a> / <a href="../../mappa.php" title="Mappa del sito">Mappa</a> / <a href="../../informazioni.php" title="Tutte le informazioni su .ConStile">Informazioni</a> / <a href="../../exit.php" title="I link consigliati per uscire da .ConStile">EXIT (Link)</a></p>





</div>

<!-- /footer -->

<hr />

<!-- no CSS -->

<div id="avviso-non-standard"><img src="../../images/avvisow3c.png" alt="" /></div>

<!-- /no CSS -->

<div id="page-url">l'indirizzo di questa pagina &egrave;: http://www.constile.org/template/layout_a_tre_colonne/index.php</div>

</div><!-- fine bodycontent -->



</body>

</html>


