<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
		<title>Pagina Zoomabile</title>
		<link rel="stylesheet" type="text/css" href="pagine_zoomabili.css" media="screen" />
	</head>
	<body>
		<div id="intestazione"><h1>Pagina Zoomabile</h1></div>
		<div id="corpo">
			<div id="principale">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus tincidunt. Curabitur orci. Donec in diam at tellus vestibulum blandit. In a est at arcu malesuada venenatis. Pellentesque mattis felis a ipsum. Nam vel felis non dui vestibulum egestas. Donec nec ipsum. Vivamus luctus dui id leo. Nulla facilisi. Proin eu est. Etiam vulputate aliquam lacus. Vestibulum nec tortor. Integer neque nunc, venenatis quis, laoreet in, tincidunt sed, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc eu sapien. Sed adipiscing nonummy erat. Aenean risus turpis, fermentum sed, luctus id, aliquam vitae, odio.</p>
				<p>Donec vehicula dignissim pede. Vestibulum laoreet, nibh non ornare faucibus, odio orci blandit ipsum, vitae auctor felis mauris quis ligula. Suspendisse felis. Nullam faucibus orci sed libero. Quisque eu arcu. Nunc magna. Proin porta lobortis ipsum. Vestibulum elementum nibh eu purus. Nulla tempor congue neque. Praesent eu dui non erat venenatis egestas. Ut vestibulum, lacus ac ullamcorper ultrices, purus wisi bibendum purus, ut facilisis dolor est a arcu. Integer lobortis. Mauris ullamcorper, nulla vitae placerat ullamcorper, sem turpis ullamcorper mauris, vel pharetra velit purus quis risus. Nullam ornare, wisi vel dapibus porttitor, lacus odio vulputate purus, nec vehicula felis felis ac lectus.</p>
				<p>Mauris tortor quam, dictum in, luctus in, vestibulum quis, sem. Phasellus mi orci, iaculis sed, iaculis vel, tempus ut, massa. Vivamus risus. Ut et metus. Cras sit amet magna. Donec sodales convallis quam. Morbi a justo. Cras blandit arcu vel dolor. Pellentesque volutpat, turpis sit amet faucibus venenatis, elit diam cursus diam, eget pretium tellus nibh nec mauris. Maecenas in ligula. Quisque et ipsum id lacus pulvinar rutrum. In purus leo, sollicitudin nec, porttitor ut, vulputate sed, sem. Fusce nibh turpis, viverra in, volutpat nec, lacinia id, quam. Praesent pellentesque rhoncus ipsum.</p>
				<p>Mauris consequat elementum mauris. Sed ullamcorper massa et enim. Morbi dignissim, erat non eleifend pellentesque, diam libero tristique purus, eget rhoncus lectus purus a sem. Donec lobortis, odio eget facilisis vehicula, quam sem porta urna, in aliquam tellus massa eu wisi. Donec laoreet, mauris eu rutrum facilisis, tortor wisi semper lectus, sed vestibulum eros nunc vitae sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi in purus. Phasellus blandit pharetra risus. Donec turpis orci, faucibus id, ullamcorper sed, sollicitudin ac, urna. Pellentesque urna. Praesent placerat augue ac quam. Nulla condimentum. Sed sit amet leo. Fusce dolor. Cras quis wisi in velit elementum tempus. Quisque eleifend mollis mauris.</p>		
			</div>
			<div id="secondario">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus tincidunt. Curabitur orci. Donec in diam at tellus vestibulum blandit. In a est at arcu malesuada venenatis. Pellentesque mattis felis a ipsum. Nam vel felis non dui vestibulum egestas. Donec nec ipsum. Vivamus luctus dui id leo. Nulla facilisi. Proin eu est. Etiam vulputate aliquam lacus. Vestibulum nec tortor. Integer neque nunc, venenatis quis, laoreet in, tincidunt sed, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc eu sapien. Sed adipiscing nonummy erat. Aenean risus turpis, fermentum sed, luctus id, aliquam vitae, odio.</p>                  
                    </div>
			<div id="menu">
                    	<ul>
					<li><a href="pagina_zoomabile.html">link 1</a></li>
                                        <li><a href="pagina_zoomabile.html">link_mooooolto_lungo</a></li>
                                        <li><a href="pagina_zoomabile.html">link 3</a></li>
                                        <li><a href="pagina_zoomabile.html">link 4</a></li>
                                        <li><a href="pagina_zoomabile.html">link 5</a></li>
				</ul>
                    </div>
		</div>
		<div id="note"><p title="Licenza"><a href="http://creativecommons.org/licenses/by-nd-nc/1.0" title="Informazioni sulla licenza con cui è distribuito il materiale pubblicato su .ConStile">Some Rights Reserved</a>. This work is licensed under a <a href="http://creativecommons.org/licenses/by-nd-nc/1.0" title="Informazioni sulla licenza con cui è distribuito il materiale pubblicato su .ConStile">Creative Commons License.</a></p></div> 
	</body>
</html>
